.projectCardContainer{
    padding:2%;
    /*width: 20%;
    border: 1px solid black;
    box-shadow: 0px 0px 5px gray; */
    background: #fff;
    color: black;
    width: 25%;
    height: auto;
    margin: 1em;
    text-overflow: ellipsis;
    /* white-space: no-wrap;
    text-overflow: ellipsis;*/
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
    transition: all ease 200ms;
}

.projectCardContainer:hover {
    transform: scale(1.03);
    box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
  }


.projectCardContainer img {
    width: 100%;
    height: 40%;
    object-fit: cover;
  }

.projectCardContainer .title{
    color: #222;
    margin-top: -0.2em;
    line-height: 1.4;
    font-size: 20 rem;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    transition: all ease-in 100ms;
    text-decoration: none;

}

.userDetails{
    display: flex;
    justify-content:space-evenly;
    line-height: 1rem;
}
.projectCardContainer p{
    color: #777;
    margin: 0%;
}

.projectCardContainer h6{
    color: black;
    margin: 0%;
}

.moneyValues{
    display: flex;
    justify-content: space-evenly;
    color: #222;
}

.moneyText{
    display: flex;
    justify-content: space-evenly;
    font-weight: 700;
    color: black;
}
.imgContainer{
    width: 15%;
}
.imgContainer img{
    height: 90%;
}


.projectCardContainer a{
    text-decoration: none;
}