/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
} */
   /* color-scheme: light dark;
  background-color: #ffffff; */

/* ============Home Page================================*/

/*=================Hero Section=========================*/

.hero-Section{
  background-color: #001C34;
  background-image: url("assets/heroPic.jpg");
  max-width: 100vw;
  height: 80vh;
}
.text-hero{
  padding: 5% 5% 0 9%;
}

.text-hero h1 {
  font-size: 3em;
  line-height: 1.1;
  color: white;
}

.heroButtons{
  display: flex;
  flex-direction: row;
  padding-left: 9%;

}

.heroButtons a{
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.8em 1.9em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #001C34;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  text-decoration: none;
}

.heroButtons a:hover {
  border-color: #15645E;
}
.heroButtons a:focus,
.heroButtons a:focus-visible {
  outline: rem auto -webkit-focus-ring-color;
}

/*============Homepage====================*/
/*==========Main Section(3 cards)==========*/
.mainContainer{
  max-width: 100vw;
  height: 80vh;
  display: flex;
  padding: 5%;

}

.mainCardBox{
  /* perspective: 100rem; */
  position: relative;
  width: 22%;
  margin: 5%;
  padding: 1%;
  color: white;
 
}

.mainBox{
  height: 90%;
  border-radius: 15px;
  transition: all 0.8s ease;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  padding: 2rem;
  text-align: center;
  
}

.mainBox.back {
  transform: rotateY(-180deg);
  background: #15645E;
  /* background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%); */
}

.mainBox.front{
  background: #15645E;
}

.mainBox.front h2{
  font-weight: 600;
  font-size: 2rem;
  line-height: 3rem;
  padding-top: 6.3rem;
}

.mainBox.front.a, .mainBox.front.b, .mainBox.front.c{
  opacity: 0.8;
}

.mainBox.front.a{
  background-image: url("assets/jellyfish.jpg");

}
.mainBox.front.b{
  background-image: url("assets/nature.jpg.svg");
}

.mainBox.front.c{
  background-image: url("assets/panels.jpg");
}
.mainCardBox:hover .mainBox.front {
  transform: rotateY(180deg);
}

.mainCardBox:hover .mainBox.back {
  transform: rotateY(0deg);
  background: rgb(21,100,94);
background: radial-gradient(circle, rgba(21,100,94,1) 0%, rgba(0,28,52,1) 53%, rgba(70,177,197,1) 85%);
}

.mainBox.back.centre p{
  padding-top: 5rem;

}

/*==========Home Page=============================================================*/
/*========All Projects============*/

.allProjectSection{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
}

.farButtonContainer{
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}

.farButtonContainer h2{
  color: #ffffff;
}

.farButtonContainer a{
 margin: 0%;
  border: 1px solid transparent;
  padding: 0.5em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #001C34;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  text-decoration: none;
}

.farButtonContainer a:hover {
  border-color: #15645E;
}
.farButtonContainer a:focus,
.farButtonContainer a:focus-visible {
  outline: rem auto -webkit-focus-ring-color;
}

.allProjectsContainer{
  max-width: 100vw;
  height: auto;
  padding: 5%;
  background-color: #15645E;
}


/*===================Project Page================================*/
/*=====================================Main===========================================*/

.projectContainer{
  max-width: 100%;
  padding: 5%;
}

.projectUserBox{
  display: flex;
  flex-direction: row;
}

.userInfo{
  padding: 2% ;
}

.userInfo p{
  margin: 0%;
  padding-top: 1%;
}

.projectPageMain{
  max-width: 100%;
  padding: 5% 10% 1% 10%;
  /* border: #001C34 2px solid; */
}

.projectPageMain img{
  width: 100px;
  object-fit: contain;
  border-radius: 50%;
}

.projectPageMain h2{
  margin: 0%;
  font-size: 2.5rem;
  padding: 1rem 0rem;
  line-height: 3rem;
}
.projectPageMain h4{
  display: inline-block;
  padding-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin: 0%;
}

.projectImgGoalContainer{
  max-width: 100%;
  min-height: 50vh;
  padding: 0% 5% 0% 10%;
  display: flex;
  justify-content: center;
  /* border: #001C34 2px solid; */
}

.projectImgGoalMini{
  /* border: #001C34 2px solid; */
  width: 100%;
}

.projectImgGoalMini img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.goal{
  text-align: center;
  /* border: #001C34 2px solid; */
  width: 50%;
  padding: 3%;
}

.goal h1{
  font-size: 2rem;
}

/*================Project page==========================================================*/
/*============Supporter section======================*/
.supporterSectionContainer{
  width: 100%;
  height: auto;
}
/* .supporterList{
  width: 80vw;
} */
.supporterSectionContainer img{
  width: 15%;
  object-fit: contain;
  border-radius: 50%;
}

.supporterBox{
  border: #001C34 2px solid;
  display: flex;
  flex-direction: row;
}

.supporterBox div{
  border: #15645E solid 2px;
}
/*================Project page==========================================================*/
/*============Buttons============================*/

.ProjectPageButton{
  background-color: #001C34;
  padding: 0.8rem;
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: medium;
  border: none;
}

.ProjectPageButton:hover{
  background-color: #15645E;
  color: #fff;;
  padding: 0.8rem;
  border: #001C34 2px solid;
}

.ProjectPageButton .edit{
  margin-top: 2%;
}

.supporterList img{
  width: 2%;
  object-fit: contain;
}

/*================Project Page==============================================*/
/*====================Description and Answers==============================================*/
.descriptionAnswers{
  max-width: 100%;
  padding: 5% 8% 5% 10%;
}

.descriptionAnswers li{
list-style: none;
}

.descriptionAnswers div{
  display: inline-block;
  }

.descriptionAnswers h2{
 font-size: 2rem;
}

.descriptionAnswers h5{
  font-size: 1.5rem;
 }
/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
